html,
    /*
    Generic Page CSS Styles
    */
body {
    height: 100%;
    background-color: #252526;
}

.NavBarTitle {
    font-size: 20pt;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

