html,
body {
    height: 100%;
    background-color: #252526;
    margin: 0;
}

.nav_btn {
    background-color: #ff7257;
    padding-left: 12px;
    border: none;
}
.nav_btn:focus {
    outline: 0;
}
.link_text:hover {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: #b3b3b3;
    /*
    background-color: #252526;
    */
}
.navbar {
    background-color: gray;
    border-radius: 7px 7px 7px 7px;
}
.lower_portion {
    border: 8px solid gray;
    padding: 15px;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
}

.recent_news_box {
    background-color: #ff7257;
    border-radius: 7px 7px 7px 7px;
    height: 200px;
}
.twitter-timeline {
    height: 500px;
}
.current_areas_box {
    background-color: #ff7257;
    border-radius: 7px 7px 7px 7px;
}
.sponsors_box {
    background-color: #ff7257;
    border-radius: 7px 7px 7px 7px;
}
.info_box {
    padding: 5px;
    background-color: gray;
    border-radius: 10px 10px 10px 10px;
}
.image_in_div {
    border: 6px solid #b3b3b3;
    display: block;
    margin: auto;
}
.main_page_img {
    display: block;
    margin: auto;
}
.univ_area {
    padding-right: 20px;
}
.no_bullet {
    list-style-type: none;
}
.title_text {
    background-color: #3dbdd0;
    border-radius: 10px 10px 10px 10px;
    border-width: 10px;
}
.close {
    height: 100px;
    width: 100px;
}
#jared_img:hover .overlay{
    opacity: 1;
}
.fa-search:hover {
    color: #eee;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
}