html,
body {
    height: 100%;
    background-color: #252526;
    margin: 0;
}

.nav_btn {
    background-color: #ff7257;
    padding-left: 15px;
}
.link_text:hover {
    color: white;
    font-style: normal;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: #252526;
}

.navbar .navbar-collapse {
    text-align: center;
}
.lower_portion {
    border: #252526;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
}

.recent_news_box {
    background-color: #ff7257;
    border-radius: 7px 7px 7px 7px;
}
.current_areas_box {
    background-color: #ff7257;
    border-radius: 7px 7px 7px 7px;
}
.sponsors_box {
    background-color: #ff7257;
    border-radius: 7px 7px 7px 7px;
}

